@model NetDeveloperTest.Models.Job
@{
    ViewData["Title"] = "Create New Job";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Job Creation</h1>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h3>Create New Job</h3>
        </div>
    </div>

    <div class="row">
        <form method="post" asp-action="Create">
            <div class="form-group">
                <label asp-for="JobTitle" class="control-label"></label>
                <input asp-for="JobTitle" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ExpiresAt" class="control-label"></label>
                <input asp-for="ExpiresAt" class="form-control" />
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>



</div>